/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* This is style for the title*/
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(118, 0, 50, 255);
  color: white;
}

.FAQContainer {
  padding: 10% 5%;
  text-align: justify;
  position: relative;
  overflow: hidden;
  background-color: white;
  color: black;
}

.abstractBanner {
  padding: 60px;
  box-sizing: border-box;
  text-align: justify;
  position: relative;
  overflow: hidden;
  background-color: rgba(58, 58, 75, 1);
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.purple-background {
  color: rebeccapurple;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: ;
}

.headerFeatures {
  color: rgba(118, 0, 50, 255);
  text-align: center;
}
