.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  padding: 2rem 0;
}

.headerFeatures {
  color: rgba(118, 0, 50, 255);
  text-align: center;
}
