*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background and Blur */
.background {
  background-image: url(https://github.com/moloewe-leuphana/moloewe-leuphana.github.io/blob/8078be3301e58eb1828886e7b72439160f7dc52a/static/img/landingPhoto.jpg?raw=true);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  width: 100%;
  margin-bottom: -7%
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100%;
}

.bg_text {
  /* background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  backdrop-filter: blur(2px);
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.abstractBanner {
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #303846;
  color: white;
  font-size: 22px;
  line-height: 2;
}

/*
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
*/

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
}

.footerLogosDiv {
  background-color: #303846;
}

.footerLogos{
  width:300px;
  height:300px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: -90px;
  margin-top: -50px;
  object-fit:scale-down;
  }